<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WaterCollect.Properties.Settings.mtsics1ConnectionString"
            connectionString="server=192.168.100.98;user id=root;password=123;persistsecurityinfo=True;database=mtsics1"
            providerName="MySql.Data.MySqlClient" />
        <add name="WaterCollect.Properties.Settings.db_hxConnectionString"
            connectionString="server=192.168.202.60;user id=root;password=tq;persistsecurityinfo=True;database=db_hx"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>